{erl_opts, [debug_info]}.

{deps, [
    {getopt, "1.0.3"},
    {esqlite, "0.9.0"},
    {mysql, "1.9.0"}
]}.

{escript_incl_apps, [eflyway, getopt, esqlite, mysql]}.
{escript_main_app, eflyway}.
{escript_name, eflyway}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
